body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#weaponStatus {
  margin-top: 20px;
  font-size: 24px;
}

#resultMessage {
  margin-top: 20px;
  font-size: 20px;
  color: green;
}

#weaponImage {
  width: 100px; /* 이미지 크기 조정 */
  height: auto;
}
